<%= javascript_include_tag '/plugin_assets/default_roles/javascripts/selectize' %>
<%= stylesheet_link_tag '/plugin_assets/default_roles/stylesheets/selectize.default.css' %>
<table style="width: 100%">
  <thead>
    <tr>
      <th><%= l '.role' %></th>
      <th><%= l '.users_groups' %></th>
    </tr>
  </thead>
  <tbody>
    <% Role.all.each do |role| %>
      <tr>
        <td style="width: 20%">
          <%= role.name %>
        </td>
        <td style="width: 80%">
          <select name="<%= "settings[default_roles[#{role.id}]][]" %>" class="selectize" multiple>
            <%= options_from_collection_for_select Principal.all, :id, :name, Proc.new { |user| has_default_role(user, role) } %>
          </select>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $(document).ready(function() {
      $('.selectize').selectize({
        plugins: ['remove_button']
        })
  });
</script>
